{% if form is defined %}
	{% if form.pay is defined %}
	<form action="{{ path('odiseo_preorder_detail', {'id': preOrder.id}) }}" name="odiseo_preorder_show_pay_contract" method="post" style="display:inline;">
		{{ form_widget(form.pay, {'attr': {'class':'button_drop', 'style' : 'display:inline;'}}) }}
	</form>
 	{% endif %}
{% endif %}